@page
@model MultiSelectRazor.Pages.usermanagement.landingModel
@{
}

<form method="post">

    <input autocomplete="txtName" id="txtName" name="txtName" class="form-control" style="width:400px;" />
    <br/>
    <button type="submit" class="btn btn-info">Submit</button>

</form>
