@using System.Text.RegularExpressions

<div class="jumbotron">
    <h2>TCS ADD Email Routing API</h2>
    <p class="lead">Test from Postman using the below Endpoint URL: </p> <br /><br />
    <p>@String.Concat(Regex.Replace(Request.Url.ToString(), "/home/index", "/", RegexOptions.IgnoreCase),"api/EmailRouting/SendEmail")</p>
    
</div>
<div class="row">
    
</div>
